<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="content-type" content="text/html; charset=windows-1251" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>Главная страница</title>
<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="css/mod_yoo_carousel.css" type="text/css" />
<style type="text/css">
<!--
#dm_tabs_1 ul.dm_menu_1 { width:auto; margin:0; padding:0; list-style:none; }
#dm_tabs_1 ul.dm_menu_1 li.dm_menu_item_1 { display: inline; margin:0 0 0 0; padding:0; float:left; border:none; border-bottom:none; background-color:none; background-image:none; }
#dm_tabs_1 ul.dm_menu_1 li.dm_menu_item_1 a { font:bold 13px Arial; float:left; border:none; color:#2f2f31; padding:3px 11px 0px 11px; text-decoration:none; }
#dm_tabs_1 ul.dm_menu_1 li.dm_menu_item_1 a.dm_selected { position:relative;top:0px;background-color:none;color:#c5cbdb; }
#dm_tabs_1 ul.dm_menu_1 li.dm_menu_item_1 a:hover {background-color:none;color:#c5cbdb; }
#dm_container_1 {border:none;width:auto;height:auto;background-color:none;padding:5px;overflow:hidden; }
#dm_container_1 .dm_tabcontent {display:none; }
@media print { #dm_container_1 .dm_tabcontent {display:block !important; } }
-->
</style>
<script type="text/javascript" src="js/mootools.js"></script>
<script type="text/javascript" src="js/dinamods.js"></script>
<script type="text/javascript" src="js/mod_yoo_carousel.js"></script>
<style type="text/css">#ps_results{margin-left:0px;}</style>
<link rel="stylesheet" href="css/template_css2.css" type="text/css" />
<!--[if lte IE 6]>
<style type="text/css">
.clearfix {height: 1%;}
</style>
<![endif]-->
<!--[if gte IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie7.css"/>
<![endif]-->
<script type="text/javascript">
<!--
if(window.opera) {document.write('<link rel="stylesheet" type="text/css" href="css/opera.css" />');}
//-->
</script>
<script type="text/javascript">
<!--
var detect = navigator.userAgent.toLowerCase();
if((detect.indexOf('safari'))!=-1) {document.write('<link href="css/safari.css" rel="stylesheet" type="text/css" />');};
//-->
</script>
</head>
<body id="bd" class="fs3">
<div id="nmz-wrapper2">
	<div id="nmz-wrapper1">
		<div id="nmz-wrapper">
			<div align="center" id="top_flash">
				<embed src="flash/top.swf" width="1000" height="300" hspace="0" vspace="0" autostart="true" align="absmiddle" id="flash-top" wmode="transparent" 
				quality="high" pluginspage="http://www.macromedia.com/shockwave/download" 
				/index.cgi?P1_Prod_Version=ShockwaveFlash type="application/x-shockwave-flash" bgcolor="" scale= "noborder"></embed>
			</div>
			<div id="nmz-containerwrap">
				<div id="nmz-container" class="clearfix">
					<div id="nmz-mainbody">
						<div id="nmz-topsl" class="clearfix"></div>
						<!-- BEGIN: CONTENT -->
						<div id="nmz-contentwrap2">
							<div id="nmz-contentwrap">
								<div id="nmz-content"></div>
								<div align="center">
									<table width="907" border="0" cellspacing="0" cellpadding="0">
									<tr>
									<td align="left" valign="top"><div id="user1" class="clearfix"></div></td>
									<td align="left" valign="top">
										<div id="user2" class="clearfix">
											<div id="user18" class="clearfix">
												<div style="margin-left:115px;" class="menunem2">
													<table width="380" border="0">
													<tr>
													<td>
														<li><a href="#" target="_self">Меню 1</a></li>
														<li><a href="#" target="_self">Меню 2</a></li>
														<li><a href="#" target="_self">Меню 3</a></li>
														<li><a href="#" target="_self">Меню 4</a></li>
														<li><a href="#" target="_self">Меню 5</a></li>
													</td>
													<td>
														<li class="item23"><a href="#" target="_self"><span>Меню 6</span></a></li>
														<li class="item24"><a href="#" target="_self"><span>Меню 7</span></a></li>
														<li class="item25"><a href="#" target="_self"><span>Меню 8</span></a></li>
														<li class="item26"><a href="#" target="_self"><span>Меню 9</span></a></li>
														<li class="item27"><a href="#" target="_self"><span>Меню 10</span></a></li>
													</td>
													</tr>
													</table>
												</div>
											</div>
										</div>
									</td>
									<td align="left" valign="top"><div id="user3" class="clearfix"></div></td>
									</tr>
									</table>
									<div id="nmz-contentwrapcenter">
										<div id="nmz-contentwraptop">
											<div id="nmz-contentwrapbot">
												<div id="contentind">
													<div id="dm_header" style="min-height: 669px;">
														<div style="min-height: 300px;">Содержимое страницы</div>
													</div>
													<div class="clr"></div>
												</div>
											</div>
										</div>									
									</div>
								</div>
							</div>
						</div>
						<!-- END: CONTENT -->
					</div>
				</div>
			</div>
			
			<table width="998" border="0" cellspacing="0" cellpadding="0">
			<tr>
			<td width="263" align="left" valign="top"><img src="images/niz-l.jpg" width="263" height="152" /></td>
			<td width="472" align="center" valign="top"><div align="top" id="user10" class="clearfix"></div></td>
			<td width="263" align="right" valign="top"><img src="images/niz-r.jpg" width="263" height="152" /></td>
			</tr>
			</table>

			<div id="bot_mod">
				<table width="998" border="0" cellspacing="0" cellpadding="0">
				<tr>
				<td width="171" align="left" valign="top"><img id="bot_left" src="images/cop-l.jpg" width="171" height="152" align="left" /></td>
				<td width="655" align="left" valign="top">
					<div align="top" id="user11" class="clearfix">
						<div id="dm_tabs_1">
							<ul class="dm_menu_1">
								<li class="dm_menu_item_1"><a href="/28:-" rel="dm_tab_1_1" class="dm_selected">Новости  форума</a></li>
								<li class="dm_menu_item_1"><a href="/33:--" rel="dm_tab_1_2">Последнее на форуме</a></li>
								<li class="dm_menu_item_1"><a href="/34:" rel="dm_tab_1_3">Проголосуйте!</a></li>
								<li class="dm_menu_item_1"><a href="/36:" rel="dm_tab_1_4">Статистика</a></li>
							</ul>
						</div>
						<br style="clear:left;" />
						<div id="dm_container_1">
							<div id="dm_tab_1_1" class="dm_tabcontent">
								<div class="moduletable">
									<table width='100%' border='0' cellpadding='2' cellspacing='1' style='border: solid 0px;'>
									<tr class='sectiontableentry34'>
									<td style='width:330px;'><a href='#' title=''>Месага 1</a></td>
									<td style='width:170px;'><div align='left'><a href='#' title='посмотреть последнее сообщение'>число</a>&nbsp; от <b><i>автора</i></b></div></td>
									</tr>
									<tr class='sectiontableentry33'>
									<td style='width:330px;'><a href='#' title=''>Месага 2</a></td>
									<td style='width:170px;'><div align='left'><a href='#' title='посмотреть последнее сообщение'>число</a>&nbsp; от <b><i>автора</i></b></div></td>
									</tr>
									<tr class='sectiontableentry34'>
									<td style='width:330px;'><a href='#' title=''>Месага 3</a></td>
									<td style='width:170px;'><div align='left'><a href='#' title='посмотреть последнее сообщение'>число</a>&nbsp; от <b><i>автора</i></b></div></td>
									</tr>
									<tr><td colspan='5'>&nbsp;</td></tr>
									</table> 
								</div>
							</div>
							<div id="dm_tab_1_2" class="dm_tabcontent">
								<div class="moduletable">
									<table width='100%' border='0' cellpadding='2' cellspacing='1' style='border: solid 0px;'>
									<tr class='sectiontableentry34'>
									<td style='width:330px;'><a href='#' title=''>Месага на форуме 1</a></td>
									<td style='width:170px;'><div align='left'><a href='#' title='посмотреть последнее сообщение'>число</a>&nbsp; от <b><i>автора</i></b></div></td>
									</tr>
									<tr class='sectiontableentry33'>
									<td style='width:330px;'><a href='#' title=''>Месага на форуме 2</a></td>
									<td style='width:170px;'><div align='left'><a href='#' title='посмотреть последнее сообщение'>число</a>&nbsp; от <b><i>автора</i></b></div></td>
									</tr>
									<tr class='sectiontableentry34'>
									<td style='width:330px;'><a href='#' title=''>Месага на форуме 3</a></td>
									<td style='width:170px;'><div align='left'><a href='#' title='посмотреть последнее сообщение'>число</a>&nbsp; от <b><i>автора</i></b></div></td>
									</tr>
									<tr><td colspan='5'>&nbsp;</td></tr>
									</table>     
								</div>
							</div>
							<div id="dm_tab_1_3" class="dm_tabcontent">
								<div class="moduletable">
									<div align="center" style="padding-top:30px;">
										Банерища
									</div>
								</div>
							</div>
							<div id="dm_tab_1_4" class="dm_tabcontent">
								<div class="moduletable">
									<div align="center" style="padding-top:30px;">
										Счетчики
									</div>    
								</div>
							</div>
						</div>
						<script type="text/javascript" language="javascript">
						<!--
						var Dinamods=new dinamods("dm_tabs_1")
						Dinamods.setpersist(true)
						Dinamods.setselectedClassTarget("link")
						Dinamods.init(0,1)
						-->
						</script>
					</div>
				</td>
				<td width="172" align="right" valign="top"><img id="bot_right" src="images/cop-r2.jpg" width="172" height="152" /></td>
				</tr>
				</table>
			</div>
			<div id="copyrights" align="center" style="margin-left:-1px;"><img src="images/copyr.jpg" width="730" height="66" /></div>
			<!-- BEGIN: FOOTER -->
			<div id="nmz-footerwrap" class="clearfix">
				<div id="nmz-footer"></div>
			</div>
			<!-- END: FOOTER -->
		</div>
	</div>
</div>
</body>
</html>