{% extends "aion/registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans 'Change master account password' %}{% endblock %}
{% block content %}
<form method='post' action=''>{% csrf_token %}
<table>
    <form method="post">{% csrf_token %}
        <fieldset id="change_form">
            <legend>{% trans 'Change master account password' %}</legend>
            <label>{% trans 'Old password' %}</label>
            {{ form.old_password }}
            {% if form.errors %}
                {{ form.old_password.errors }}
            {% endif %}
            <label>{% trans 'New password' %}</label>
            {{ form.new_password1 }}
            {% if form.errors %}
                {{ form.new_password1.errors }}
            {% endif %}
            <label>{% trans 'Repeat password' %}</label>
            {{ form.new_password2 }}
            {% if form.errors %}
                {{ form.new_password2.errors }}
            {% endif %}
            <br />
            <button type="submit" class="btn btn-inverse">{% trans 'Change' %}</button>
        </fieldset>
    </form>
</table>
</form>
{% endblock %}
