{% load i18n %}
{% load staticfiles %}
{% load static_pages %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{% static 'default/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'default/css/style.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'default/img/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'default/css/slide.css' %}" type="text/css" media="screen" />
        <script type="text/javascript" src="{% static 'default/js/jquery-1.10.2.js' %}"></script>
        <script src="{% static 'default/js/slide.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'default/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'default/js/scripts.js' %}"></script>
        {% block extra_head %}{% endblock %}
        {% block extra_script %}{% endblock %}

    </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% navigation %}
</body>
</html>