{% load i18n %}
{% load staticfiles %}
{% load static_pages %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{% static 'default/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'default/css/jquery.selectBoxIt.css' %}" rel="stylesheet">
        <link href="{% static 'default/css/style.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'default/img/favicon.png' %}">
        <script type="text/javascript" src="{% static 'default/js/jquery-1.10.2.js' %}"></script>
        <script type="text/javascript" src="{% static 'default/js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'default/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'default/js/jquery.selectBoxIt.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'default/js/scripts.js' %}"></script>
        {% block extra_head %}{% endblock %}
        {% block extra_script %}{% endblock %}
    </head>
<body>
    {% navigation %}
    <div class="container">
        <div class="page-header text-center">
            <h1><img src="{% static 'default/img/aion_logo.png' %}"></h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block layout %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>