{% extends 'cabinet/profile_base.html' %}
{% load i18n %}
{% block title %}Личный кабинет{% endblock %}
{% block slider %}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <a>{{ success }}</a>
        <script type="text/javascript"><!--
            var ints = 5; // секунды
            function alertes () {
                document.getElementById('calc').innerHTML = ints;
                if ( ints == 0 ) {
                    document.location.href = '/accounts/profile/';
                    ints = '--';
                }
                if ( ints > 0 ) {
                    ints--;
                }
            };
            function refresh(){
                if(ints > 0) time_Interval = setInterval("alertes ()", 1000 );
            };
            refresh();
    //--></script>
        <p>{% blocktrans %}Вы будете автоматически перемещены через <b><span id="calc">-</span></b> сек.{% endblocktrans %}</p>
    {% else %}
        {% trans 'You are not logged in' %}
    {% endif %}

{% endblock %}
