/*
Name: Sliding Login Panel with jQuery 1.3.2
Author: Jeremie Tisseau
Author URI: http://web-kreation.com/
Script URI: http://web-kreation.com/index.php/tutorials/nice-clean-sliding-login-panel-built-with-jquery/
Date: March 26, 2009
Version: 1.0

	Copyright 2009 Jeremie Tisseau
	"Sliding Login Panel with jQuery 1.3.2" is distributed under the GNU General Public License version 3:
	http://www.gnu.org/licenses/gpl-3.0.html

*/

.styled {
    padding-top: 18px;
    background: rgba(255, 255, 255, 0.9);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -khtml-border-radius:10px;
}

body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: url(../img/aion-bg1.jpg) no-repeat center center fixed;
}

.full {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#ht_styled {
    background-color: #000000;
    border-style: solid none none;
}

#nav_styled {
    max-width: none;
}

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../img/ui.totop.png) no-repeat left top;
}
#toTopHover {
	background:url(../img/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
#toTop:active, #toTop:focus {
	outline:none;
}

#id_captcha_1 {
    width: 50%;
}

button.aion-btn-sm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #e7e4c0;
	padding: 0px 22px;
	background: -moz-linear-gradient(
		top,
		#524938 0%,
		#524938 50%,
		#524938 50%,
		#524938 65%,
		#524938);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#524938),
		color-stop(0.50, #524938),
		color-stop(0.50, #524938),
		color-stop(0.65, #524938),
		to(#524938));
	-moz-border-radius: 23px;
	-webkit-border-radius: 23px;
	border-radius: 23px;
	border: 3px solid #50564a;
	-moz-box-shadow:
		0px 0px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(103,097,091,1);
	-webkit-box-shadow:
		0px 0px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(103,097,091,1);
	box-shadow:
		0px 0px 1px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(103,097,091,1);
	text-shadow:
		0px 0px 0px rgba(255,255,255,0.8),
		0px 0px 0px rgba(255,255,255,0.3);
}



