/* COMMON STYLE
--------------------------------------------------------- */
html, body, form, fieldset {
	margin: 0;
	padding: 0;
}

body {
	color: #000;
	background: #FFF;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	line-height: 150%;
}

body#bd {
	color: #CCC;
	background: url(../images/feather.jpg) repeat top center;
}

body.contentpane {
	width: auto; /* Printable Page */
	margin: 1em 2em;
	background: #FFF;
	color: #000;
	font-size: 12pt;
	font-family: serif;
	line-height: 140%;
}

body.fs1 {
	font-size: 9px;
}

body.fs2{
	font-size: 10px;
}

body.fs3{
	font-size: 11px;
}

body.fs4{
	font-size: 12px;
}

body.fs5{
	font-size: 13px;
}

body.fs6{
	font-size: 14px;
}

/* Normal link */
a {
	color: #adb2be;
		text-decoration:none;
}

a:hover, a:active, a:focus {
	color: #FFF;
	text-decoration:none;
	border:none;
}

/* Title text */
.contentheading, .componentheading, .blog_more strong, h1, h2, h3, div.nftitle, .createdate {
	font-family: "Georgia", Tahoma, Arial, Helvetica, sans-serif;
}

/* Small text */
small, .small, .smalldark, .mosimage_caption, a.readon, #nmz-pathway, .back_button {
	font-size: 90%;
	color: #333;
}

/* Heading */
h1 {
	font-size: 180%;
}

h2 {
	font-size: 155%;
}

h3 {
	font-size: 125%;
}

h4 {
	font-size: 100%;
	text-transform: uppercase;
}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 12px 0;
	padding: 0;
}

ul {
	list-style: none;
}

ul li {
	padding-left: 30px;
	line-height: 180%;
	background: url(../images/bullet-list.gif) no-repeat 18px 9px;
}

ol li {
	margin-left: 35px;
	line-height: 180%;
}

th {
	padding: 5px;
	font-weight: bold;
	text-align: left;
}

fieldset {
	border: none;
}

fieldset a {
	font-weight: bold;
}

hr {
	border-top: 1px solid #DDDDDD;
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	height: 1px;
}

a img {
	border: none;
}

td, div {
	font-size: 100%;
}


/* FORM
--------------------------------------------------------- */
form {
	margin: 0;
	padding: 0;
}

form label {
	cursor: pointer;
}

input, select, textarea, .inputbox {
	padding: 1px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 100%;
}

select, textarea, .inputbox {
	background: #FFFFFF;
	color: #333333;
}

.button {
	font-weight: bold;
	color: #FFFFFF;
	padding: 2px;
	background: url(../images/but-bg.gif) repeat-x top;
	border:none;
}

.inputbox {
	margin-bottom: 1px;
	padding: 3px 0 3px 5px;
	background: url(../images/input-bg.gif) #FFFFFF;
	border: 1px solid #AAAAAA;
}

.inputbox:hover, .inputbox:focus {
}

/* JOOMLA STYLE
--------------------------------------------------------- */
table.blog { 
}


#nmz-col1 .article_seperator, #nmz-col2 .article_seperator {
	display: none;
}

table.contentpane {
	border: none;
	width: 100%;
}

table.contentpaneopen {
	border: none;
	color: #CCC;
    margin-top:28px;
}

table.contenttoc {
	margin: 0 0 10px 10px;
	padding: 0;
	width: 35%;
}

table.contenttoc a {
	text-decoration: none;
}

table.contenttoc td {
	padding: 1px 5px 1px 25px;
	background: url(../images/bullet-list.gif) no-repeat 5% 50%;
}

table.contenttoc th {
	padding: 0 0 3PX;
	border-bottom: 1px solid #DDDDDD;
	text-indent: 5px;
}

table.poll {
	width: 100%;
	margin-left:50px;
}
#poll_new {
	width:290px;
	padding-top:20px;
}

table.pollstableborder {
	padding: 0;
	width: 100%;
	border: none;
	text-align: left;
}

table.pollstableborder img {
	vertical-align: baseline;
}

table.pollstableborder td {
	padding: 2px!important;
	border-collapse: collapse;
	border-spacing: 0;
}

table.pollstableborder tr.sectiontableentry1 td {
	border: none;
	background: #DDDDDD;
}

table.pollstableborder tr.sectiontableentry2 td {
	border: none;
	height:50px;
}
tr.sectiontableentry33 td {
	border: none;
	line-height:10px;
	padding-left:10px;
	font-size:12px;
}
tr.sectiontableentry34 td {
	background:url(../images/news_back.png) repeat-x left;
	border: none;
	line-height:15px;
	padding-left:10px;
	font-size:12px;
}

table.searchintro {
	padding: 10px 0;
	width: 100%;
}

table.searchintro td {
	padding: 5px!important;
}

table.adminform {
	width: 400px!important; /*Control the Frontend Editor area width*/
}

.adminform .inputbox {
}

.blog_more {
	margin: -10px 0;
}

.blog_more strong {
	margin: 0 0 5px;
	display: block;
	color: #333333;
	font-size: 155%;
}

.blog_more ul {
	margin: 0;
	padding: 0;
}

.blog_more ul li {
	margin: 0;
	padding: 0 0 0 17px;
	background:	url(../images/bullet-list.gif) no-repeat 6px 8px;
}

td.buttonheading {
	padding: 0 0 0 8px!important;
	text-align: center;
}

.category {
	font-weight: bold;
}

.clr {
	clear: both;
}

.componentheading {
	font-size: 160%;
	color: #999;
	padding-top:2px;
	text-align:center;
}

.contentdescription {
	padding-bottom: 30px;
}

table.blog .contentheading {
	text-align:center;
	font-size: 160%;
	padding-bottom:4px;
	text-transform: capitalize;
}

.contentheading {
	background: url(../images/contenthead.jpg) no-repeat top center;
	color: #EAEAEA;
	height: 31px;
	font-size: 160%;
	text-transform: capitalize;
	text-align:center;
	padding-left:10px;
	padding-bottom:5px;
}

a.contentpagetitle,
a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
	text-decoration: none !important;
}

a.readon {
	float: left;
	display: block;
	text-decoration: none;
	font-weight: bold;
	background: url(../images/readmore.gif) no-repeat center left;
	padding-left: 12px;
}

a.readon:hover, a.readon:active, a.readon:focus {

}

table.contentpaneopen td, table.contentpane td {
}

table.contentpaneopen, table.contentpane, table.blog {
	width: 100%;
}

.createdate {
	padding: 3px;
	text-transform: uppercase;
	font-size: 90%;
	color: #AAAAAA;
}

.modifydate {
	color: #AAAAAA;
	height: 15px;
	padding-top: 15px;
}

.moduletable {
	padding: 0;
}

.mosimage {
	margin: 0 5px 10px;
	padding: 0;
}

.mosimage img {
	padding: 0 !important;
	margin: 0 !important;
}

.mosimage_caption {
	margin-top: 5px;
	padding: 1px 2px;
	color: #AAAAAA;
}

.pagenav,
.pagenav_prev,
.pagenav_next,
.pagenavbar {
	padding: 0 2px;
}

a.pagenav,
.pagenav_prev a,
.pagenav_next a,
.pagenavbar a {
	text-decoration: none;
}

a.pagenav:hover, a.pagenav:active, a.pagenav:focus,
.pagenav_prev a:hover, .pagenav_prev a:active, .pagenav_prev a:focus,
.pagenav_next a:hover, .pagenav_next a:active, .pagenav_next a:focus,
.pagenavbar a:hover, .pagenavbar a:active, .pagenavbar a:focus {
	text-decoration: none;
}

.pagenavbar {
	padding-left: 14px;
	background: url(../images/pages.gif) no-repeat center left;
}

.pagenavcounter {
	padding: 8px 14px 0 14px;
	background: url(../images/pages.gif) no-repeat 0 11px;
}

.sectiontableheader {
	padding: 8px 5px;
	background: #245D36;
	color: #FFFFFF;
	font-weight: bold;
	border-top: 15px solid #FFFFFF;
}

tr.sectiontableentry1 td {
	padding: 8px 5px;
}

tr.sectiontableentry2 td {
	padding: 8px 5px;
	background: #E6E6E6;
}

tr.sectiontableentry1:hover td,
tr.sectiontableentry2:hover td {
}

.smalldark {
	text-align: left;
}

div.syndicate div {
	text-align: center;
}

.pollstableborder tr.sectiontableentry1 td,
.pollstableborder tr.sectiontableentry2 td {
	background: none;
}

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#nmz-wrapper2 {
	background: url(../images/) repeat top left;
}

#nmz-wrapper1 {
	background: url(../images/top.jpg) no-repeat center top;
	margin-right:1px;
}

#nmz-wrapper {
	width: 998px;
	margin: 0 auto;
}
#nmz-contentwraptop {
	background: url(../images/wrap2top.jpg) no-repeat center top;
}
#nmz-contentwrapcenter {
	background: url(../images/wrap2.jpg) repeat-y center top;
	margin-top:63px;
}
#nmz-contentwrapbot {
	background: url(../images/wrap2bot.jpg) no-repeat center bottom;
}

#nmz-containerwrap {
	clear: both;
}

#nmz-mainbody {
	padding-top:30px;
	float: right;
	width: 998px;
}

#nmz-container {
}

#nmz-contentwrap {
	background: url(../images/page_centerwrap.png) repeat-y center top;
	min-height:400px;
}

#nmz-contentwrap2 {
	background: url(../images/page_centerwrap2.png) repeat-y center top;
}

#nmz-content {
	padding: 0 50px;
	margin: 0;
	clear: both;
	display: block;
}
#contentind {
	width:835px;
	padding-bottom:50px; 
	padding-top:30px; 
	margin-top:-68px;
	text-align:left;
}

/* MODULE
--------------------------------------------------------- */
div.moduletable_menu h3,
div.moduletable h3 {
	font-size: 170%;
	padding: 0 2px 25px;
	margin: 0 -2px;
	color: #FFFFFF;
	font-weight: normal;
	background: url(../images/) no-repeat top right;
}

div.moduletable_menu,
div.moduletable {
	padding: 0 0 0px;
}

div.moduletable-blank {
	background: none;
	padding: 0 0 30px;
}


/* Search */
.search .inputbox {
	width: 90%;
}

/* Modules +
----------------------------------------------------------- */
#user1 {
	background: url(../images/page_top-l.jpg) no-repeat top left;
	height:239px;
	width:179px;
}
#user2 {
	background: url(../images/page_top-c.jpg) no-repeat top center;
	height:244px;
	width:557px;
}
#user3 {
	background: url(../images/page_top-r.jpg) no-repeat top right;
	height:239px;
	width:171px;
}
#user4 {
	background: url(../images/page_mid-l.jpg) no-repeat top left;
	height:94px;
	width:357px;
}
#user5 {
	background: url(../images/mid-c.jpg) no-repeat top center;
	height:94px;
	width:198px;
}
#user6 {
	background: url(../images/page_mid-r.jpg) no-repeat top right;
	height:94px;
	width:352px;
}
#user7 {
	background: url(../images/bot-l.jpg) no-repeat top left;
	height:174px;
	width:362px;
}
#user8 {
	background: url(../images/bot-c.jpg) no-repeat top center;
	height:174px;
	width:192px;
}
#user9 {
	background: url(../images/bot-r.jpg) no-repeat top right;
	height:174px;
	width:353px;
}
#user10 {
	background: url(../images/niz-c.jpg) no-repeat top center;
	height:152px;
	width:472px;
}
#user11 {
	background: url(../images/cop-center.jpg) no-repeat top left;
	height:152px;
	width:655px;
}

.contentpane_stylewrap {

}
.componentheading_stylewrap {
	font-size: 160%;
	color: #999;
padding-bottom:50px;
	text-align:center;
}
	
/* MODULES MISCELLANOUS
----------------------------------------------------------- */
#asmo_bot {
	padding-top:10px;
	font-weight:bold;
	line-height:18px;
	padding-right:10px;
}
#ely_bot {
	padding-top:24px;
	font-weight:bold;
	line-height:18px;
	padding-left:10px;
}
#login_but {
	padding-left:30px;
	padding-top:25px;
}
#log_bot_right {
	margin-left:-15px;
}
#copyrights {
	margin-bottom:-15px;
}

/* MISCELLANOUS
----------------------------------------------------------- */

/* Add new J! 1.5 RC2 */
#form-login-username,
#form-login-password,
#form-login-remember {
	margin: 0;
	padding-left: 10px;
}

/* Clearfix */
.clearfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

* html > body .clearfix {
	width: 100%;
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* Firefox Scrollbar Hack - Do not remove */
html {
	margin-bottom: 1px;
	height: 100%!important;
	height: auto;
}

/* PixSearch
----------------------------------------------------------- */
#ps_search_str{
	width: 83px;
	background: none;
	border: none;
	color: #999;
	
}
#ps_results{
	z-index: 10000;
	position: absolute;
	width: 400px;
	float:right;
	background-color: none;
	text-align: left;
	visibility: hidden;
}
.ps_results{
	border: 4px #EEE solid;
}
#ps_results #ps_link{
	color: #333;
	float: right;
	padding-right: 5px;
}
#ps_results .ps_header{
	font-weight: bold;
	font-size: 14px;
	background-color: #949494;
	padding: 4px;
}
#ps_results h3{
	color: #000;
	padding-bottom: 3px;
}
#ps_results span{
	line-height: 100%;
}
#ps_results .ps_row_1{
	border-top: 2px #EEE solid;
	background-color: #FFF;
	padding: 5px;
}
#ps_results .ps_row_2{
	border-top: 2px #EEE solid;
	background-color: #FFF;
	padding: 5px;
}
#ps_results .ps_row_btm{
	font-weight: bold;
	font-size: 14px;
	background-color: #EEE;
	padding: 4px;
}

.menunem2 {
	padding-top:20px;
	font-weight:bold;
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.backl {
	padding-top:60px;
	padding-left:60px;
}
.forwardl {
	padding-top:63px;
	padding-left:10px;
}